<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h3>👨‍💻 Research</h3>
        </div>
    </div>

    <div class="row justify-content-center mb-2">
        <div class="col-md-10">
            <h5 class="text-muted" style="float: right;">Completed</h5>
            <br>
            <hr>
            <!--1-->
            <a class="alternative" href="assets/downloads/M&E_saky19_refRep.pdf" download="Saipranav_Specmate_SM.pdf">
                <h5 class="text-justify" style="margin-bottom: -2px;">Maintainability Analysis and Feature Implementation on
                    Open Source Software - Specmate by Qualicen
                </h5>
            </a>
            <small class="mb-1" style="color: grey;">
                @ Blekinge Tekniska Hogskola | September 2020 – October 2020
            </small>
            <br>
            <span class="badge bg-success">Software Maintainability</span>
            
            <hr>
            <!--2-->
            <a class="alternative" href="assets/downloads/Assignment1-saky19.pdf" download="Saipranav_Agile&Lean.pdf">
                <h5 class="text-justify" style="margin-bottom: -2px;">An Analysis on Agile and Lean approaches
                </h5>
            </a>
            <small style="color: grey;">
                @ Blekinge Tekniska Hogskola | September 2020 – October 2020
            </small>
            <br>
            <span class="badge bg-success">Agile</span>&nbsp;
            <span class="badge bg-success">Lean</span>&nbsp;
            <span class="badge bg-success">Software Development</span>
            
            
            <hr>
            <!--3-->
            <a class="alternative" href="assets/downloads/SM_Project_Jabref.pdf" download="Saipranav_Vishruta_Jabref_SM.pdf">
                <h5 class="text-justify" style="margin-bottom: -2px;">GQM based empirical study on Maintainability of Open Source
                    Software - Jabref
                </h5>
            </a>
            <small style="color: grey;">
                @ Blekinge Tekniska Hogskola | April 2020 – May 2020
            </small>
            <br>
            <span class="badge bg-success">Software Maintainability</span>&nbsp;
            <span class="badge bg-success">Software Metrics</span>&nbsp;
            <span class="badge bg-success">Goal Question Metrics Framework</span>
            
            <hr>
            <!--4-->
            <a class="alternative" href="assets/downloads/Saky19-Dede19-Assignment_Security_and_Quality_STPA.pdf" download="Saipranav_Denim_STPA-Sec.pdf">
                <h5 class="text-justify" style="margin-bottom: -2px;">Application of the System-Theoretic Process Analysis for Security
                </h5>
            </a>
            <small style="color: grey;">
                @ Blekinge Tekniska Hogskola | January 2020 – February 2020
            </small>
            <br>
            <span class="badge bg-success">Software Security</span>&nbsp;
            <span class="badge bg-success">Software Quality</span>&nbsp;
            <span class="badge bg-success">STPA-Sec</span>
        
        
            <hr>
            <!--5-->
            <a class="text-justify" class="alternative" href="assets/downloads/Saky19-Dede19_ThreatModelling.pdf" download="Saipranav_Denim_STRIDE.pdf">
                <h5 style="margin-bottom: -2px;">Threat modelling for software security and quality using STRIDE
                </h5>
            </a>
            <small style="color: grey;">
                @ Blekinge Tekniska Hogskola | January 2020 – February 2020
            </small>
            <br>
            <span class="badge bg-success">Software Security</span>&nbsp;
            <span class="badge bg-success">Software Quality</span>&nbsp;
            <span class="badge bg-success">STRIDE</span>
        
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        
        <div class="col-md-10">
            <h5 class="text-muted" style="float: right;">Ongoing</h5>
            <br>
            <hr>
            <!--1-->
            <h5 class="text-justify" style="margin-bottom: -2px;">
                Automated software design conformance in continuous integration pipeline
            </h5>
            <small class="mb-1" style="color: grey;">
                @ Blekinge Tekniska Hogskola | December 2020 – Present
            </small>
            <br>
            <span class="badge bg-success">Software Design</span>&nbsp;
            <span class="badge bg-success">Software Architecture</span>&nbsp;
            <span class="badge bg-success">Static Code Analysis</span>&nbsp;
            <span class="badge bg-success">Canonical Design Knowlege</span>
            
        </div>

    </div>
</div>