<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-5">
            <h3 class="greet"></h3>
            <br>
            <h6 class="about text-justify"></h6>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-7" style="border-left: lightgrey solid 1px;">
            <!--swiftly-->
            <span class="badge bg-dark mb-2">June 2020</span>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/images/swiftly.jpeg" style="height: auto; width: 100%;">
                        </div>
                        <div class="col-10">
                            <div class="card-title">
                                <h6>Joined Swiftly as Summer Intern - Software Engineering Intern</h6>
                            </div>
                            <div class="card-subtitle">
                                <small class="text-muted">
                                   <a class="alternative-l" href="https://www.linkedin.com/company/swiftlyone/" target="_blank">Swiflty.One</a>
                                   <br>June 2020 - August 2020 | <i class="fas fa-map-marker-alt"></i> Stockholm, Sweden
                                </small>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            
            <!--bth-->
            <span class="badge bg-dark mb-2">January 2020</span>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/images/bth.png" style="height: auto; width: 100%;">
                        </div>
                        <div class="col-10">
                            <div class="card-title">
                                <h6>Started Master's course in Software Engineering</h6>
                            </div>
                            <div class="card-subtitle">
                                <small class="text-muted">
                                   <a class="alternative-l" href="https://bth.se/" target="_blank">Blekinge Tekniska Högskola</a>
                                   <br>January 2020 - Present | <i class="fas fa-map-marker-alt"></i> Karlskrona, Blekinge, Sweden
                                </small>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!--moved to sweden-->
            <span class="badge bg-dark mb-2">January 2020</span>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/images/sweden.jpg" style="height: auto; width: 100%;">
                        </div>
                        <div class="col-10">
                            <div class="card-title">
                                <h6>Moved to Sweden for Master's course</h6>
                            </div>
                            <div class="card-subtitle">
                                <small class="text-muted">
                                  
                                   <br>January 2020 - Present | <i class="fas fa-map-marker-alt"></i> Karlskrona, Blekinge, Sweden
                                </small>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!--hcl-->
            <span class="badge bg-dark mb-2">August 2019</span>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/images/hcl.png" style="height: auto; width: 100%;">
                        </div>
                        <div class="col-10">
                            <div class="card-title">
                                <h6>Joined HCL Technologies as Software Engineering Intern</h6>
                            </div>
                            <div class="card-subtitle">
                                <small class="text-muted">
                                   <a class="alternative-l" href="https://www.hcltech.com/" target="_blank">Hindustan Computers Limited</a>
                                   <br>August 2019 - December 2019 | <i class="fas fa-map-marker-alt"></i> Hyderabad, Telangana, India
                                </small>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            
            
            <!--jntu-->
            <span class="badge bg-dark mb-2">August 2016</span>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/images/jntuh.jpg" style="height: auto; width: 100%;">
                        </div>
                        <div class="col-10">
                            <div class="card-title">
                                <h6>Started Bachelor's course in Computer Science and Engineering</h6>
                            </div>
                            <div class="card-subtitle">
                                <small class="text-muted">
                                   <a class="alternative-l" href="https://www.jntuhceh.ac.in/" target="_blank">Jawaharlal Nehru Technological University</a>
                                   <br>August 2016 - January 2020 | <i class="fas fa-map-marker-alt"></i> Hyderabad, Telangana, India
                                </small>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>