<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h3>🚀 Projects</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h5 class="text-muted" style="float: right;">⭐ Stars</h5>
            <br>
            <hr>
        </div>

        <!--Swiftly-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/images/swiftly.jpeg" style="height: auto; width: 100%;">
                        </div>
                        <div class="col-10">
                            <div class="card-title">
                                <h5 class="text-justify">AI-Based Head hunting for automated recruitment and skill development platform</h5>
                            </div>
                            <div class="card-subtitle">
                                <small style="color: grey;">June 2020 - August 2020</small>
                            </div>
                            <div class="card-text">
                                <span class="badge" style="background-color: beige; color: black;">
                                    Scikit-Learn
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Natural Language Processing
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Sockets
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    RESTAPIs
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Django
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    React
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Node.js
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Postgresql
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Bootstrap
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Docker
                                </span>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!--HCL-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/images/hcl.png" style="height: auto; width: 100%;">
                        </div>
                        <div class="col-10">
                            <div class="card-title">
                                <h5 class="text-justify">Custom memory management algorithm based on user activity prioritization</h5>
                            </div>
                            <div class="card-subtitle">
                                <small style="color: grey;">August 2019 - December 2019</small>
                            </div>
                            <div class="card-text">
                                <span class="badge" style="background-color: beige; color: black;">
                                    C#
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    UWP
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    .NET
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Python
                                </span>&nbsp;
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-10">
            <h5 class="text-muted" style="float: right;">Others</h5>
            <br>
            <hr>
        </div>

        <!--Nuclia-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="text-justify">
                            Nuclia - Organised online groups
                        </h5>
                    </div>
                    <div class="card-text">
                        <span class="badge" style="background-color: beige; color: black;">
                            Django
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            React
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            Node.js
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            Postgresql
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            Docker
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            CircleCI
                        </span>&nbsp;
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!--Mynk-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="text-justify">Mynk - Expense Manager
                            <a class="alternative" href="https://github.com/SaipranavK/mynk-dj" style="float: right;" target="_blank"><i class="fab fa-github"></i></a>
                        </h5>
                    </div>
                    <div class="card-text">
                        <span class="badge" style="background-color: beige; color: black;">
                            Django
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            Javascript
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            Ajax
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            Postgresql
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            Bootstrap
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            Docker
                        </span>&nbsp;
                        <span class="badge" style="background-color: beige; color: black;">
                            Travis-CI
                        </span>&nbsp;
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!--StrictEye-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="text-justify">StrictEye - User Attention monitor
                                </h5>
                            </div>  
                            <div class="col-2">
                                <a class="alternative" href="https://github.com/SaipranavK/blaze-cam" style="float: right;" target="_blank"><i class="fab fa-github"></i></a>
                            </div>
                            <div class="card-text">
                                <span class="badge" style="background-color: beige; color: black;">
                                    Javascript
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    face-api.js
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    tensorflow.js
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Bootstrap
                                </span>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!--PyPlagia-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="text-justify">PyPlagia - Intrinsic Plagiarism Detector
                                </h5>
                            </div>
                            <div class="col-2">
                                <a class="alternative" href="https://github.com/SaipranavK/PyPlagia" style="float: right;" target="_blank"><i class="fab fa-github"></i></a>
                            </div>
                            <div class="card-text">
                                <span class="badge" style="background-color: beige; color: black;">
                                    Python
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Natural Language ToolKit
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    WordNET
                                </span>&nbsp;
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!--WeatherApp-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="text-justify">Weather App with Node.js</h5>
                            </div>
                            <div class="col-2">
                                <a class="alternative" href="https://github.com/SaipranavK/Weather-app-nodejs" style="float: right;" target="_blank"><i class="fab fa-github"></i></a>
                            </div>
                            <div class="card-text">
                                <span class="badge" style="background-color: beige; color: black;">
                                    Node.js
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    RESTAPIs
                                </span>&nbsp;
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!--BRC-1-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="text-justify">BRCI - Image classifier for breast cancer
                                </h5>
                            </div>
                            <div class="col-2">
                                <!--<a class="alternative" href="#" style="float: right;"><i class="fab fa-github"></i></a>-->
                            </div>
                            <div class="card-text">
                                <span class="badge" style="background-color: beige; color: black;">
                                    Python
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Tensorflow
                                </span>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!--BRC-2-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="text-justify">Performance analysis of machine learning algorithms on breast cancer classification</h5>
                            </div>
                            <div class="col-2">
                                <!--<a class="alternative" href="#" style="float: right;"><i class="fab fa-github"></i></a>-->
                            </div>
                            <div class="card-text">
                                <span class="badge" style="background-color: beige; color: black;">
                                    Python
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Pandas
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Matplotlib
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Scikit-Learn
                                </span>&nbsp;
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!--SortingPerforamce-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="text-justify">Performance analysis of sorting algorithms on sorting array of different sizes.
                                </h5>
                            </div>
                            <div class="col-2">
                                <a class="alternative" href="https://github.com/SaipranavK/sorting-algos" style="float: right;" target="_blank"><i class="fab fa-github"></i></a>
                            </div>
                            <div class="card-text">
                                <span class="badge" style="background-color: beige; color: black;">
                                    Python
                                </span>&nbsp;
                                <span class="badge" style="background-color: beige; color: black;">
                                    Matplotlib
                                </span>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>