<header>
  <!--Navbar-->
  <div class="container">
    <nav class="navbar navbar-expand main-nav border-bottom" style="height: 80px;">
      <div class="container justify-content-center">
        <ul class="nav navbar-nav flex-fill w-100 flex-nowrap">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="timeline/" (click)="navClick('timeline')" [ngClass]="navClickItem == 'timeline' ? 'active' : ''">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="projects/" (click)="navClick('projects')" [ngClass]="navClickItem == 'projects' ? 'active' : ''">Projects</a>
          </li>
        </ul>
        <ul class="nav navbar-nav flex-fill justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/" (click)="navClick('')" [ngClass]="navClickItem == '' ? 'active' : ''">Home</a>
          </li>
        </ul>
        <ul class="nav navbar-nav flex-fill w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="research/" (click)="navClick('research')" [ngClass]="navClickItem == 'research' ? 'active' : ''">Research</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</header>

<!--Router-->
<router-outlet></router-outlet>

<div style="margin-bottom: 2rem;"></div>